div.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li {
  display: inline;
}
li a:hover {
  background: #555;
  color: white;
}
.active {
    background-color: #4CAF50;
    color: white;
}
#header {
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 3px 5px 7px #666666;
  border: 1px solid black;
  text-align: center;
  background-color: #ffffff;
}
#footer {
  position: absolute;
  right: 0;
  bottom: -30%;
  left: 0;
  padding: 3px;
  background-color: #efefef;
  text-align: center;
}
#settings {
  border:5px solid red;
  padding: 16px;
}
#cookies {
  border:5px solid green;
  padding: 16px;
}
#signup {
  border:5px solid yellow;
}
p {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}



/* Sign up
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.signupbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
}
.signupbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.containerlogin {
    padding: 16px;
}
*/
