div.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#header {
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 3px 5px 7px #666666;
  border: 1px solid black;
  text-align: center;
  background-color: #ffffff;
}
#footer {
  position: absolute;
  right: 0;
  bottom: -75%;
  left: 0;
  padding: 3px;
  background-color: #efefef;
  text-align: center;
}
#centertext {
  text-align: center;
}
