div.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li {
  display: inline;
}
li a:hover {
  background: #555;
  color: white;
}
.active {
    background-color: #4CAF50;
    color: white;
}
