function insertCss( .games{width: 100%;} ) {
    var style = document.createElement('style');
    style.type = 'text/css';

    if (style.styleSheet) {
        // IE
        style.styleSheet.cssText = .games{width:100%;};
    } else {
        // Other browsers
        style.innerHTML = .games{width:100%;};
    }

    document.getElementsByTagName("head")[0].appendChild( style );
}